* {
    margin: 0;
    padding: 0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

:root {
    --main-font:'Source Sans Pro';
    --main-color: #0097d7;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    background-image: url(../img/background-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 80%;
    min-height: 100vh;
}

#logo {
    width: 5%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.navbar > ul {
    margin-top: 10px;
    padding-left: 16px;
    font-family: var(--main-font);
}

.navbar > ul > a {
    text-align: center;
    margin: 25px;
    transition-duration: 0.2s;
}

.navbar > ul > a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

#main-container {
    max-height: 100vh;
    position: relative;
    background-color: var(--main-color);
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
}

#main-img {
    width: 100%;
    min-height: 90vh;
}

#main-img-2 {
    width: 100%;
    object-fit: contain;
    min-height: 100vh;
}

.main-text {
    position: absolute;
    background-color: var(--main-color);
    color: white;
    text-align: justify;
    font-family: var(--main-font);
    top: 0px;
    padding: 20px;
    margin: 200px;
    border-radius: 10px;
}

.main-text > h1 {
    margin: 10px;
}

.main-text > h4 {
    margin: 10px;
}

.main-text > p {
    margin: 20px;
}

.upper-logo-repeat {
    display: inline-flex;
    position: absolute;
    padding-top: 30px;
    width: 50%;
    right: 10px;
}

.lower-logo-repeat {
    display: inline-flex;
    position: absolute;
    padding-top: 590px;
    width: 50%;
    right: 10px;
}

#container-2 {
    min-height: 100vh;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

#low-opacity-logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    opacity: 20%;
}

.trophies > .international-trophies {
    position: absolute;
    top: 10px;
}

.trophies > .international-trophies > a > img {
    max-width: 100px;
    margin: 40px;
    transition: transform .3s;
}

.trophies > .international-trophies > a > img:hover {
    transform: scale(1.1);
}

.trophies > .national-trophies {
    position: absolute;
    bottom: 100px;
    right: 10px;
}

.trophies > .national-trophies > img {
    max-width: 90px;
    margin: 20px;
    transition: transform .3s;
    cursor: pointer;
}

.trophies > .national-trophies > img:hover {
    transform: scale(1.1);
}

.trophies-desc {
    font-family: var(--main-font);
}

.inter-trophies-desc {
    position: absolute;
    top: 200px;
    left: 50px;
}

.national-trophies-desc {
    position: absolute;
    bottom: 300px;
    right: 30px;
}

.trophies-desc > .inter-trophies-desc > h3 {
    margin-bottom: 50px;
}

.trophies-desc > .national-trophies-desc > h3 {
    margin-bottom: 60px;
}

footer {
    background-color: var(--main-color);
    color: white;
    min-height: 10vh;
    font-family: var(--main-font);
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.rights > a {
    transition-duration: 0.2s;
}

.rights > a:hover {
    color: black;
}

footer > .top {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    transition-duration: 0.2s;
}

.top:hover {
    color: red;
}